.link {
  position: relative;
  overflow: hidden;
  transition: 400ms ease-in-out;
  img {
    transition: 400ms ease-in-out;
  }
  .info {
    width: 200px;
    z-index: -1;
    margin-top: 0 !important;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.8);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255, .8) 80%, rgba(255,255,255, .3) 100%);
    
    opacity: 0;
    transform: translateY(70px);
    transition: 400ms ease-out;
    .infoHeader {
      font-weight: 500;
      margin-bottom: 5px;
      letter-spacing: 0.3px;
    }
    a {
      margin-top: 5px !important;
      color: #835F52;
    }
  }
}

.link:hover {
  overflow: visible;
  img {
    transform: scale(0.97, 0.97);
  }
  .info {
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
  }
}
