.subservicesWrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 600px) {
  .subservicesWrapper {
    margin-top: 20px;
    flex-direction: column;
  }
}