.container {
  margin: 64px auto 0;
  width: 100%;
  h3 {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    text-align: start;
  }
  .documentList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    &:last-child {
      margin-top: 0;
    }
  }
  .item {
    display: flex;
    align-items: center;
    max-width: 480px;
    margin: 10px 35px 10px 0;
    .img {
      height: 57px;
      margin-right: 20px;
      img {
        height: 100%;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .documentsDelimiter {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.3;
    margin: 20px 0 15px 0;
  }
  .ifNext {
    margin-right: 35px;
    font-size: 18px;
    color: #8C623E;
  }
}

@media screen and (max-width: 480px) {
  .container {
    h3 {
      font-size: 26px;
    }
    .documentsDelimiter {
      font-size: 16px;
    }
  }
}